<div layout="column" layout-align="center center" >
    <br><br><br><br>
    <h4>Loading ...</h4>
    <div style="width: 400px;">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
    <p class="md-body-2 nbos-warn" >
        Oops! Something went wrong here. Please <i>Refresh</i> the page or <md-button ng-click="reLogin()">Re-Login</md-button>
    </p>
</div>

<md-content>
    <h1 class="md-display-2">
        403 Unauthorised
    </h1>
    <p class="md-body-2 nbos-warn" >
        Oops! Something went wrong here. You are not authorised to access this page. Access <a href="http://console.nbos.in">Console</a> instead.
    </p>
</md-content>